<mat-expansion-panel hideToggle ccFocus *ngIf="spell">
    <mat-expansion-panel-header >
        <mat-panel-title>
            {{ this.spell.name }}
        </mat-panel-title>
        <mat-panel-description>
            {{ this.spell.level }}, {{ this.spell.school}}
        </mat-panel-description>
        <mat-panel-description>
            {{ this.spell.prepared | prepared}} 
        </mat-panel-description>
        <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle (change)="changeStatus(true)" (click)="$event.stopPropagation()">Prepare spell</mat-button-toggle>
            <mat-button-toggle (change)="changeStatus(false)" (click)="$event.stopPropagation()">Unprepare spell</mat-button-toggle>
          </mat-button-toggle-group>
          
    </mat-expansion-panel-header>
    <p><b>Casting Time:</b>{{ this.spell.castingTime }}</p>
    <p><b>Range:</b>{{ this.spell.range }}</p>
    <p><b>Components:</b>{{ this.spell.components }}</p>
    <p><b>Duration: </b>{{ this.spell.duration }}</p>
    <p>{{ this.spell.description }}</p>
    <button mat-raised-button color="primary" (click)="openDialog()">Atualizar</button>
    <button mat-raised-button color="warn" (click)="deleteItem()">Remover</button>

    <ng-template #dialogTemplate>
        <app-dialogue-update>
          <app-spell-form requestType="update" [newSpell]="spell" ></app-spell-form>
        </app-dialogue-update>
      </ng-template>

</mat-expansion-panel>

